<h1>Bars</h1>

<ul class="bars"><% @user_bars.sort_by{|b| b.bar.name}.each do |b| %>
  <li>
    <% check_value = true if b.attended == true %>
    <%= check_box_tag b.id, 'yes', check_value, :class => 'regular-checkbox', :style => "margin: 3px;" %>
    <%= b.bar.name %>
  <% end %>
  </li>
  
</ul>