<div class="container">
  <div class="content">
    <h4>Welcome to Your Personal Taste of the Nation Tracker</h4>
      <p>
      Click on the navigation links to see participating restaurants, bars, book signings and live auctions.</br> 
      See what each spot is offering and check off where you've been.</br>
      </p>
      <p>Happy Consuming!</p>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38965200-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>