<div class="span8">
<h1>Live Auction:</h1>
<h4 id="live">At 8:30pm join the crowd at the main stage on the 2nd floor to bid on these exceptional items!</h2>

  <div class="events">

    <div id="event1">
      <h4>THE DINNER PARTY OF A LIFETIME</h4>
      <h5>ONLY AVAILABLE AT TASTE OF THE NATION NYC</h5>
      <p>
      Enjoy a private multi-course meal hosted by City Grit and six of NYC's top culinary luminaries.  These six young chefs will each cook a course featuring wine pairings by one of the city's top wine experts! </br>
      <b>Max Sussman</b></br>
      <i>James Beard Rising Star nominee</i></br>
      <b>Walker Stern</b></br>
      <i>Co-chef of Battersby, Food & Wine Best New Chef Nominee 2013</i></br>
      <b>Angelo Romano</b></br>
      <i>Chef of The Pines, Starchefs' Rising Star NYC</i></br>
      <b>Kevin Pemoulie</b></br>
      <i>Chef of Thirty Acres, Food & Wine Best New Chef Nominee 2013</i></br>
      <b>Katy Peetz</b></br>
      <i>Pastry Chef of Blanca, Food & wine People's Best New Pastry Chef 2013</i></br>
      <b>Wine pairings from Erika DaSilva</b></br>
      <i>Beverage Director of Joseph Leonard & Jeffrey's Grocery</i></br>
      </p>
    </div>

    <div id="event2">
      <h4>A PRIVATE TOUR OF REBECCA MINKOFF'S SHOWROOM!</h4>
      <p>Bid on a a private tour (for 4) hosted by Rebecca Minkoff of her NYC showroom followed by dinner for 4 at L'apicio with wine pairings by master sommelier Joe Campanale! This auction item also includes one bag personally selected by Rebecca for the winner!
      </p>
    </div>

    <div id="event3">
      <h4>THE COMPLETE COOK EXPERIENCE PACKAGE</h4>
      <p>Chef Chris Santos of Beauty and Essex and a regular judge on Chopped will cook dinner for you and 7 guests in your home (or an agreed upon private residence). Spend time with a master chef and learn tricks of the trade all in the comfort of your own home! Then sit down for a world class meal with your friends!</br>
      In addition to the chef dinner, this auction item includes, a Williams Sonoma chef knife, a La Crueset dutch oven, vitamix, the all-clad new Williams Sonoma 10 piece cookware set, a 5 piece utensil set with bain marie from Williams Sonoma and a gift certificate for cooking classes at Degustibus Cooking School inside Macy's.
      </p>
    </div>

  </div>

</div>