/*redish - 101, 47, 55*/
/*orange - 218, 94, */
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

ul {
list-style-type: none;
}

.accordion-heading 
.accordion-toggle {
  display: inline;
}

a.accordion-toggle{
  color: rgb(218, 94, 45);
}

ul.restaurants li,
ul.books li,
ul.bars li{
  color: rgb(218, 94, 45);
  padding-bottom: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  background: white;
  margin-bottom: 2px;
  padding: 8px 15px;
}



/* Override some defaults */
html, body {
  background-color: #eee;
  font-family:'Cutive Mono', serif;
}

body {
  padding-top: 50px;
}

.container {
  width: 300px;
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 50px -20px 0 -20px; 
  font-family:'Oxygen Mono', sans-serif;
  -webkit-border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
          border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
position: relative;
text-align: center;
}

.form-headers {
text-align: center;
}

.form-headers h2,
.form-headers h5 {
padding-bottom: 10px;
}

.form-headers h5 {
  padding-left: 10px;
  padding-right: 10px;
}

legend {
margin-right: -50px;
font-weight: bold;
color: #404040;
}

#signup a {
  color: rgb(218, 94, 45);
}

.btn-main:hover {
background: #fe9a5d;
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fe9a5d', endColorstr='#f47946', GradientType=0);
color: #ffffff;
}

.btn.btn-main {
font-family: normal 13px/15px nimbus-sans, Arial, sans-serif;
display: inline;
width: 220px;
zoom: 1;
_height: 17px;
background: #f79030;
filter:progid:dximagetransform.microsoft.gradient(startColorstr='#f79030', endColorstr='#e43c13', GradientType=0);
color: #ffffff;
border: none;
-webkit-border-radius: 3px;
-moz-border-radius:3px;
border-radius: 3px;
padding: 5px 10px;
}

ul.user_nav{
  float:right;
  padding-top: 20px;
}

.icon-chevron-right{
  float: right;
  font-size: .8em;
  padding-top: 8px;
}

.icon-chevron-down {
  float: right;
  font-size: .8em;
  padding-top: 8px;
}

ul.user_nav a{
  color: rgb(218, 94, 45);
  font-size: 1.4em;
}

ul.user_nav li{
  display: inline;
  padding-left: 3px;
}

.alert.alert-error {
  text-align: center;
  font-size: 1em;
  padding-right: 14px;
}

.logo {
  padding-top: 10px;
  width:160px;
}

.accordion-group {
background-color: white;
border: none;
}

.span5 h1, h3{
  padding-left: 25px;
}

.span8 h1 {
  padding-left: 25px;
}
h4#live {
  padding-left: 25px;
  border: none;

}
.regular-checkbox {
-webkit-appearance: none;
background-color: #fafafa;
border: 1px solid #cacece;
box-shadow: 0 1px 2px rgba(0,0,0,0.05),inset 0px -15px 10px -12px rgba(0,0,0,0.05);
padding: 9px;
border-radius: 3px;
display: inline-block;
position: relative;
margin-right: 15px;
margin: 3px;
float: left;
}

.regular-checkbox:checked {
background-color: #e9ecee;
border: 1px solid #adb8c0;
box-shadow: 0 1px 2px rgba(0,0,0,0.05),inset 0px -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1);
color: #99a1a7;
}

.regular-checkbox:checked:after {
content: '\2714';
font-size: 14px;
position: absolute;
top: 0px;
left: 3px;
color: #99a1a7;
}


a.accordion-toggle {
  position: relative;
  top: 2.5px;
/*  padding-left: 7px;*/
}

.barname {
  position: relative;
  top: 2px;
  padding-left: 15px;
}

.restaurantname, .barname, .bookname {
  font-size: 1.4em;
}

a.accordion-toggle {
  margin-top: 50px;
}

.photo {
  float: right;
/*  margin-top: 80px;*/
margin: 80px auto 0px;

}

.accordion-heading .accordion-toggle {
/*  padding-left: 7px;*/
  padding: 0px;
}

.navbar img {
  display: inline;
}

.accordion-body.collapse.out,
.accordion-inner {
  padding-left: 20px;
}


/*.regular-checkbox {
margin: 3px;
margin-right: 15px;
float: left;
}*/

.restaurantname, .barname {
float: left;
width: 80%;
display: inline;
}

.link a {
  font-weight: bold;
  color: rgb(119, 171, 124);
}

#event1, #event2, #event3 {
  color: rgb(218, 94, 45);
  padding-bottom: 5px;
  border: 1px solid grey;
  border-radius: 4px;
  background: white;
  margin-bottom: 8px;
  padding: 8px 15px;
  margin-left: 25px;
}

h4 {
  border-bottom: 1px solid grey;
}

@media all and (max-width: 768px) {
  .navbar img {
    display: block;
    margin: 0 auto;
  }
  .navbar-inner {
    padding: 0 15px;
  }
  body {
    padding: 0px;
  }
  ul {
    padding-right: 25px;
  }

  ul.user_nav {
    margin: 0 30px;
    padding-right: 25px;
    padding-top: 10px;
  }

  .events {
    padding-right: 25px;
  }

  .container > .content {
    margin: 0;
  }

}

